body{
    background-color:gray;
    color: #fff;
    font-family:arial;
    border-radius: 15px;

}
#container{
    width: 800px;
    margin: 0 auto;
    background-color: rgb(0, 133, 7);
    padding: 40px;
    border-left: #000 solid 4px;
    border-right: #000 solid 4px;
    border-top: #000 solid 4px;
    border-bottom: #000 solid 4px;
}
h1{
    background-color:black;
    border-color:black;
    border-width: 20px;
    border-radius:15px;
    padding: 20px;
    margin: 0 auto;
    font-family: cursive;
}
p{
    line-height: 1.5em;
    font-family: cursive;
}
img{
    float: left;
    width: 300px;
    border: #fff solid 3px;
    border-radius: 15px;
    margin-right: 20px
}
a:link{
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}
a:visted{
    color: rgb(0,161,161);
}
a:hover{
    color: rgb(184,255,255)
}
a:active{
    color:blue;
}
h3:hover{
    border-color:red;
}