body{
    background-color:gray;
    color: #fff;
    font-family:arial;
    border-radius: 15px;

}
#container{
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(0, 133, 7);
    padding: 40px;
    border-left: #000 solid 4px;
    border-right: #000 solid 4px;
    border-top: #000 solid 4px;
    border-bottom: #000 solid 4px;
}
h1{
    background-color:black;
    border-color:black;
    border-width: 20px;
    border-radius:15px;
    padding: 20px;
    margin: 0 auto;
    font-family: cursive;
}
p{
    line-height: 1.5em;
    font-family: cursive;
}
img{
    float: left;
    width: 300px;
    border: #fff solid 3px;
    border-radius: 15px;
    margin-right: 20px
}
a:link{
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}
a:visted{
    color: rgb(0,161,161);
}
a:hover{
    color: rgb(184,255,255)
}
a:active{
    color:blue;
}
h3:hover{
    border-color:red;
}
#sidebar{
    background-color: black;
    width: 225px;
    float: right;
    border: 2px solid white;
    margin: 15px;
    margin-top: 30px;
    line-height: 2.25em;
}
#sidebar h3{
    padding: 5px;
    width: 100px;
    background: none; 
    color:rgb(0, 133, 7);
    text-decoration: underline;
    font-size: 1.5em;
    margin: 5px;
    border: none;
}
@media (max-width:1200px){
    #container{
        background-color: red;
        width: 800px;
    }
}
@media (max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin:0;
        padding:0;
        border:none;
    }
    body,h1,h2,h3,p,div,hr{
        background-color:rgb(0, 133, 7)
    }
    body{
        padding: 20px;
    }
}
@media (max-width:768px){
    #sidebar{
        display:none;
    }
    img,#pic1,#pic2{
        float:none;
        border:none;
        width:100%;
    }
    h3{
        margin: 10px auto;
    }
}